@{
    ViewBag.Title = "Hranislav - O meni";
}
    <div class="card text-white bg-dark mb-3 text-center" style="margin:10%">
        <div class="card-header">
            Ponešto o meni
        </div>
        <div class="card-body">
            <img src="~/Images/ja.jpg" style="float:left; margin-right:2%"/>
            <p class="card-text" align="right">
                Zovem se Slađana Popadić. <br /> Oduvek volim da kuvam i ovde ću pisati o tome.
                Imam 21 godinu i idem na Fakultet tehničkih nauka u Novom Sadu.
                <br />
                <span style="color:black"><i><b>Gde si naučila da kuvaš?</b></i></span>
                <br />
                Naučila sam kroz mnogo grešaka i neuspelih pokušaja. Sva sreća pa me je majka naučila osnovama i od tada stalno eksperimentišem u kuhinji.
                Iskreno, ne znam još mnogo toga ali potrudiću se da postavljam recepte koje bih sama jela. Ne želimo da gubimo, vreme zar ne?
                <br />
                <span style="color:black"><i><b>Koje vrste recepata mogu naći na ovom blogu?</b></i></span>
                <br />
                Pokušavam da se fokusiram na pristupačne recepte sa sastojcima koji su dostupni u svakom supermarketu.
                Neće vam biti potrebno zmajevo jaje, bez brige.

                Često mi se dešavalo da pronađem recept u kom nikad nisam čula za neke specijalne sastojke
                koji se ne mogu tako lako pronaći. Upravo zato se trudim da održim moje recepte jednostavnima. Dostupnima. Svakodnevnima.
                Želim da oni budu nešto što možete spremiti kad god vam padne na pamet, a ne uz posebnu trodnevnu potragu za sastojcima.
                <br />
                Uživajte!
                <br />
                <img src="~/Images/potpis.png" />
            </p>
        </div>
    </div>