@{
    ViewBag.Title = "Hranislav - Kontakt";
}
<div class="container" style="margin-top:10%; margin-bottom:5%">
    <h1>Kontaktirajte me</h1><br>
    <div class="row text-center">
        <div class="col-sm-3 col-xs-6 first-box">
            <h1><span class="glyphicon glyphicon-earphone"></span></h1>
            <h3>Telefon</h3>
            <p>+381695365139</p><br>
        </div>
        <div class="col-sm-3 col-xs-6 second-box">
            <h1><span class="glyphicon glyphicon-home"></span></h1>
            <h3>Lokacija</h3>
            <p>Leptirova 54, Veternik</p><br>
        </div>
        <div class="col-sm-3 col-xs-6 third-box">
            <h1><span class="glyphicon glyphicon-send"></span></h1>
            <h3>E-mail</h3>
            <p>sladja.popadic@gmail.com</p><br>
        </div>
        <div class="col-sm-3 col-xs-6 fourth-box">
            <h1><span class="glyphicon glyphicon-leaf"></span></h1>
            <h3>Web</h3>
            <p>https://github.com/sladjapopadic</p><br>
        </div>
    </div>
</div>